.overview {
    background-color: #fff;
    height: 100vh;
    margin-top: 60px;
    padding: 50px 0;
    font-family: Arial, sans-serif;
}

.overview-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.overview-summary {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.summary-item {
    background: #EFF1F5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.summary-item-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}

.summary-item-title {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.summary-item-news {
    font-size: 16px;
    font-weight: 600;
}

.summary-item-text {
    font-size: 16px;
    margin: 10px 0;
}

.summary-item-link {
    display: block;
    margin-top: 16px;
    font-size: 14px;
    color: #24B47B;
    text-decoration: none;
}

.summary-item-donated {
    font-size: 14px;
    margin: 20px 0;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

.overview-details {
    display: flex;
    gap: 20px;
}

/* Details  */
.details-interaction,
.details-notifications {
    width: 560px;
    height: 350px;
    background: #EFF1F5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.details-interaction-box {
    background: #fff;
    margin-top: 20px;
    padding: 25px 20px;
    border-radius: 10px;
}

.details-interaction-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.details-interaction-subtitle {
    margin-bottom: 0;
}

.details-interaction-heading,
.details-notifications-heading {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.details-interaction-care {
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
}


.details-interaction-list {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: #333;
}

.details-interaction-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

.details-interaction-icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

/* notifications */
.details-notifications-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 5px;
    margin: 20px 0;
    background: #fff;
    border-radius: 10px;
}

.details-notifications-subtile {
    font-size: 14px;
    color: #666;
    margin-bottom: 0;
}


.details-notifications-link {
    color: #24B47B;
}

.popup-overlay-overview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content-overview {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-overview-heading {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.popup-qr {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.popup-close-overview {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}