.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.register-bg-image {
    height: 686px;
    width: 400px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-container {
    width: 90%;
    max-width: 500px;
    height: 686px;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.heading-register {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.subheading-register {
    font-size: 16px;
    color: #666;
    margin-bottom: 1.5rem;
}

.register-form {
    margin-bottom: 1rem;
}

.register-input-group {
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.8rem;
}

.register-input {
    flex: 1;
    font-size: 14px;
    border: none;
    outline: none;
}

.icon-user {
    margin-right: 0.5rem;
    color: #666;
    font-size: 1.2rem;
}

.btn-register {
    width: 100%;
    padding: 0.8rem;
    background-color: #24B47B;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    background-color: #10bc77;
}

.register-divider {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.divider-line {
    flex: 1;
    height: 1px;
    background: #ccc;
}

.divider-text {
    margin: 0 1rem;
    font-size: 0.9rem;
    color: #666;
    white-space: nowrap;
}

.register-btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8rem;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.register-btn-google:hover {
    background-color: #f5f5f5;
}

.register-login {
    margin-top: 14rem;
}

.register-login-link {
    color: #24B47B;
    text-decoration: none;
}

.register-login-link:hover {
    text-decoration: underline;
}

.register-terms {
    margin-top: 30px;
}

.register-terms,
.register-login {
    font-size: 14px;
    color: #666;
}

.register-terms-link,
.register-login-link {
    color: #f65f5c;
    text-decoration: none;
    font-weight: bold;
}

.register-login-link {
    color: #24B47B;

}

.register-terms-link:hover,
.register-login-link:hover {
    text-decoration: underline;
}