.filter-container {
    width: 100%;
    max-width: 1140px;
    margin: 85px auto 0 auto;
    padding: 10px 0 0;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.filter-search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.filter-search-input {
    width: 76%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    outline: none;
}

.filter-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border: none;
    background-color: #24B47B;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.filter-map-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: #24B47B;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
     background-image: url('../../assets/img/map.jpg');
     width: 200px;
}

.filter-map-button:hover {
    opacity: 0.9;
}
.filter-search-button:hover {
    opacity: 0.9;
}

.filter-search-button img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.filter-map-button img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    color: #000;
}
.filter-bar {
    text-align: left;
}

.filter-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.custom-select {
    position: relative;
    display: flex;
    align-items: center;
}

.filter-select {
    width: 130px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 14px;
    min-width: 120px;
    background-color: #fff;
    outline: none;
    appearance: none; 
    -webkit-appearance: none; 
}

.dropdown-icon {
    position: absolute;
    right: 10px;
    width: 12px;
    height: 16px;
    pointer-events: none;
}

.filter-select:hover,
.filter-select:focus {
    border-color: #24B47B; 
}

