.change-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.change-pass-bg-image {
    height: 686px;
    width: 400px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.change-pass-container {
    width: 90%;
    max-width: 500px;
    height: 686px;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.subheading-change-pass {
    font-size: 20px;
    color: #000;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.change-pass-form {
    margin-bottom: 1rem;
}

.change-pass-input-group {
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.8rem;
}

.change-pass-input {
    flex: 1;
    font-size: 14px;
    border: none;
    outline: none;
}

.icon-user,
.icon-lock,
.icon-eye {
    margin-right: 0.5rem;
    color: #666;
    font-size: 1.2rem;
    cursor: pointer;
}

.icon-eye {
    margin-left: auto;
}

.icon-eye.active {
    color: #24B47B;
}

.btn-change-pass {
    width: 100%;
    padding: 0.8rem;
    background-color: #24B47B;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-change-pass:hover {
    background-color: #10bc77;
}

.change-pass-register {
    margin-top: 1rem;
}

.change-pass-terms {
    margin-top: 30px;
}

.change-pass-terms,
.change-pass-register {
    font-size: 12px;
    color: #666;
}

.change-pass-terms-link,
.change-pass-register-link {
    color: #f65f5c;
    text-decoration: none;
    font-weight: bold;
}

.change-pass-register-link {
    color: #24B47B;
}

.change-pass-terms-link:hover,
.change-pass-register-link:hover {
    text-decoration: underline;
}

.back-to-home-small {
    position: absolute;
    top: 1rem;
    left: 1rem; 
    z-index: 100;
}

.btn-back-home-small {
    padding: 0.5rem 1rem;
    background-color: #24B47B;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-back-home-small:hover {
    background-color: #28ca8a;
}

/* Loading */
.change-pass-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.change-pass-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
