.forgot-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.forgot-pass-bg-image {
    height: 686px;
    width: 400px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.forgot-pass-container {
    width: 90%;
    max-width: 500px;
    height: 686px;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.back-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
    color: #666;
}

.back-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.heading-forgot-pass {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.forgot-pass-form {
    margin-bottom: 1rem;
}

.forgot-pass-input-group {
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.8rem;
}

.forgot-pass-input {
    flex: 1;
    font-size: 14px;
    border: none;
    outline: none;
}

.icon-user {
    margin-right: 0.5rem;
    color: #666;
    font-size: 1.2rem;
}

.btn-forgot-pass {
    width: 100%;
    padding: 0.8rem;
    background-color: #24B47B;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-forgot-pass:hover {
    background-color: #10bc77;
}

.forgot-pass-login {
    margin-top: 2rem;
}

.forgot-pass-login-link {
    color: #24B47B;
    text-decoration: none;
}

.forgot-pass-login-link:hover {
    text-decoration: underline;
}

.back-to-home-small {
    position: absolute;
    top: 1rem;
    left: 1rem; 
    z-index: 100;
}

.btn-back-home-small {
    padding: 0.5rem 1rem;
    background-color: #24B47B;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-back-home-small:hover {
    background-color: #28ca8a;
}